.forecast-card {
  width: 100%;
  justify-content: space-between;
  border: solid var(--isc-cloud-gray);
  border-width: 1px 0 1px 0;
  padding: 0.5em;
  gap: 0.5rem;
}

.forecast-card:hover {
  background-color: var(--isc-storm-night-alpha);
}

.day {
  flex-direction: column;
  font-size: 1.5em;
}

.day-temp {
  gap: 0.5rem;
}

.day-temp > img {
  width: 20%;
  object-fit: contain;
}

.temp-range {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.day-description {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 30%;
}

.day-time {
  font-weight: bold;
}

.at-night {
  gap: 1rem;
  justify-content: flex-start;
}

.at-night > img {
  width: 20%;
  object-fit: contain;
}
