.input {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.input label.text {
  color: var(--isc-sky-blue);
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background-color: var(--isc-snow-white);
  width: fit-content;
}

.input input[type='text'].input {
  padding: 11px 10px;
  border: 2px solid var(--isc-sky-blue);
  border-radius: var(--isc-br);
  background-color: var(--isc-snow-white);
}

.input input[type='text'].input:focus {
  outline: none;
}
